
* { 
  /* Global Reset */
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #3e06e9 0%, #400c53 100%);
  font-size: 1.6rem;

  display: grid;
  place-items: center;
  height: 100vh;
}

body, button {
  font-family: "DM Sans", sans-serif;
}

.hide {
  display: none;
}

main {
  width: min(42.8rem, 70%);
  height: auto;
  padding: 4.8rem 6.4rem 6.4rem;
  
  
  background: #FFFFFF;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem;

 
}

main .screen1 {
  text-align: center;

}

.screen1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;  
}

p {
  margin-top: 1.4rem;
  margin-bottom: 2.6rem;
  font-size: 1.6rem;
  opacity: 0.7;
}

.screen1 h1, p {
  color: #34355B;
}

.screen1 img {
  width: 23.3rem;
  height: 17rem;
  text-align: left;
}



.screen1 button {
  background: none;
  border: none;
}

#selected-cookie:hover {
  cursor: pointer;
  animation: tremer 0.5s;
  animation-iteration-count: infinite;
}


/* screen2 */

.screen2 {
  text-align: center;
  
}

.screen2 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;  
  margin-bottom: 1.4rem;
}

.screen2 h1 {
  color: #34355B;
}


.screen2 form img {
  width: 25rem;
  height: 24rem;
}

.screen2 button {
  background-color: #FF9500;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;

  font-weight: bold;
  width: 17.4rem ;
  padding: 1.6rem;

  cursor: pointer;
  transition: background .3s;
}

.screen2 button:hover {
  background-color: #be7918;
}

.box {
  padding: 1rem;
  background: #e4edf1;
  box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);
  animation: aparecer 2.4s;
}

#sorte {
  font-family: "Dancing Script", sans-serif;
  font-size: 2.4rem;
  line-height: 2.9rem;
}


@media (max-width: 480px)  {
 
  body {
    background: linear-gradient(45deg, #235005 0%, #00ff6a 100%);
    font-size: 1.6rem;
  
    display: grid;
    place-items: center;
    height: 100vh;
  }
 
 
  main {
    width: min(42.8rem, 70%);
    height: auto;
    padding: 2.4rem 3.4rem 3.4rem;
    
    
    background: #FFFFFF;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.8);
    border-radius: .5rem;  

  }
      .screen1 img {
      width: 13.3rem;
      height: 11rem;
      text-align: left;
    }


    .screen2 form img {
      width: 18rem;
      height: 14rem;
    }
}

@keyframes tremer {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(10.5rem) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}